# Hugo default output directory
/public/

# Hugo build lock file
.hugo_build.lock

# Hugo resources folder
/resources/

.DS_Store
node_modules/
.env
.env.local
.vscode/
*.log 
local-tools
.cursorrules
scratchpad

# Hugo packages
hugo_extended_*.tar.gz
docs